@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
</div>

<header class="py-5 bg-image-full" style="background-image: url('img/landig_page1.png'); height: 200px;">
    <!--<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&amp;text=Logo" alt="">-->
</header>

<section class="py-5">
    <div class="container">
        <h1>PRUEBAS COVID-19</h1>
        <p>Tu salud nos importa, por eso hemos designado laboratorios especiales de COVID-19 separados del resto de las consultas para la toma de muestras.</p> 
        <p>Estamos autorizados por el Ministerio de Salud y Asistencia Social para realizar las pruebas</p>

        
    </div>
</section>

<div class="py-5 bg-image-full" style="        background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</div>

<section class="py-5">
    <div class="container">
        <h1>Section Heading</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
</section>

