@model ProjectCalidadSoft.Models.Paciente

@{
    ViewData["Title"] = "Edit";
}

    <h1> @Model.Nombre</h1>

<h4>Paciente</h4>
<hr />

@*  Navegacion delPaciente *@
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sexo" class="control-label"></label>
                        <input asp-for="Sexo" class="form-control" />
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LugarNacimiento" class="control-label"></label>
                        <input asp-for="LugarNacimiento" class="form-control" />
                        <span asp-validation-for="LugarNacimiento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaNacimieto" class="control-label"></label>
                        <input asp-for="FechaNacimieto" class="form-control" />
                        <span asp-validation-for="FechaNacimieto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ocupacion" class="control-label"></label>
                        <input asp-for="Ocupacion" class="form-control" />
                        <span asp-validation-for="Ocupacion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoPaciente" class="control-label"></label>
                        <input asp-for="TipoPaciente" class="form-control" />
                        <span asp-validation-for="TipoPaciente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Correo" class="control-label"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactoFamiliares" class="control-label"></label>
                        <input asp-for="ContactoFamiliares" class="form-control" />
                        <span asp-validation-for="ContactoFamiliares" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoSangre" class="control-label"></label>
                        <input asp-for="TipoSangre" class="form-control" />
                        <span asp-validation-for="TipoSangre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tutor" class="control-label"></label>
                        <input asp-for="Tutor" class="form-control" />
                        <span asp-validation-for="Tutor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Peso" class="control-label"></label>
                        <input asp-for="Peso" class="form-control" />
                        <span asp-validation-for="Peso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Altura" class="control-label"></label>
                        <input asp-for="Altura" class="form-control" />
                        <span asp-validation-for="Altura" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
